<% layout('layouts/boilerplate')%>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card mb-3">
        <div class="card-body">
          <% if (user.picture){%>
          <img src="<%= user.picture %>" class="card-img-top" alt="..." />
          <% } else { %>
          <img
            src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"
            class="card-img-top"
            alt="..."
          />
          <% } %>

          <!-- button to change profile picture -->

          <form action="/profile/picture" method="post">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*" />
            <input type="submit" />
          </form>

          <h5 class="card-text">ID: <%= user.userid %></h5>
          <h5 class="card-title">NAME: <%= user.username %></h5>

          <h5 class="card-title">EMAIL: <%= user.email %></h5>

          <h5 class="card-title">BIO: <%= user.bio %></h5>

            <a href="/profile/edit" class="btn btn-primary float-right">
                Edit Profile</a>

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Posts</h5>
          <p class="card-text"><% for (let post of posts){%></p>

          <div class="card mb-3">
            <div class="row">
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"><%= post.body %></p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex justify-content align-items-center">
                      <form
                        id="vote"
                        method="post"
                        action="/posts/<%=post.postid%>/vote"
                      >
                        <input
                          type="image"
                          name="color"
                          value="vote"
                          onclick="this.form.submit();"
                          alt="vote "
                          src="upvote.svg"
                        />
                      </form>
                    </div>
                    <a
                      class="btn btn-secondary </div>"
                      href="/posts/<%=post.postid%>"
                      >View <% post.body %>
                    </a>
                  </div>
                </div>
              </div>
              <% }%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
